* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.future-image-cover {
  width: 560px;
  height: 220px;
  position: relative;
  transition: all .3s;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}

.future-image-cover span {
  top: 0;
  height: 100%;
  position: absolute;
  transition: all .1s;
  width: calc(40% + 0.5px);
}

.future-image-cover span:nth-child(1) {
  left: 0;
  opacity: .5;
  background-color: #3C3C3C;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.future-image-cover span:nth-child(2) {
  left: 20%;
  opacity: .4;
  transition-delay: .1s;
  background-color: #ababab;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.future-image-cover span:nth-child(3) {
  left: 40%;
  opacity: .5;
  transition-delay: .2s;
  background-color: #c1c0c0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.future-image-cover span:nth-child(4) {
  left: 60%;
  opacity: .4;
  transition-delay: .3s;
  background-color: #3C3C3C;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.future-image-cover:hover {
  filter: hue-rotate(90deg);
}

.future-image-cover:hover span:nth-child(1) {
  background-color: #a0a0a0;
}

.future-image-cover:hover span:nth-child(2) {
  background-color: #7d7d7d;
}

.future-image-cover:hover span:nth-child(3) {
  background-color: #a0a0a0;
}

.future-image-cover:hover span:nth-child(4) {
  background-color: #7d7d7d;
}
